// .div-main-class {
//     display: flex;
//     justify-content: space-around;
//     .link-class {
//         font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//         margin: 5px;
//         background-color: rgb(166, 54, 54);
//         color: rgb(234, 229, 229);
//         border-radius: 25px;
//     }
// }
.div-sub-class {
    display: flex;
    justify-content: space-around;
    .link-class {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 5px;
        background-color: rgb(166, 54, 54);
        color: rgb(234, 229, 229);
        border-radius: 25px;
    }
}