.reg-form-class {
    background-color: rgb(239, 233, 233);
    border-radius: 15px;
    .user-input-class {
        display: flex;
        align-items: center;
        label {
            margin: 15px;
        }
        input {
            height: 50%;
            margin: 15px;
        }
    }
    .submit-button {
        height: 30px;
        width: 100px;
        cursor: pointer;
        margin: 15px;
        border-radius: 5px;
        background-color: rgb(232, 154, 154);
    }

}