/* :root {
    background-color: white;
} */

.main-container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main-header {
        color: white;
    }
    .sub-header {
        color: white;
    }
    .link-class {
        background-color: rgb(78, 36, 36);
        color: white;
        margin: 20px;
        border-radius: 10px;
        font-size: 20px;
    }
}

.reg-form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    border: 1px solid black;
}

.login-form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    border: 1px solid black;
}

/* input {
    padding: 5px;
    width: 100%;
} */
/* 
.user-input-class {
    display: flex;
    padding: 15px;
} */