:root {
    background-color: grey;
}

.main-container-class {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reg-form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    border: 1px solid black;
}

.login-form-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding: 20px;
    border: 1px solid black;
}

/* input {
    padding: 5px;
    width: 100%;
} */
/* 
.user-input-class {
    display: flex;
    padding: 15px;
} */