.movie {
    padding: 10px;
    color: black;
    border: 2px solid white;
    background-color: rgb(126, 126, 210);
}

.movie-container-class {
    display: flex;
    /* margin: 20px; */
    color: gray;
}