// .movies-list-class {
//     .search {
//     }
// }

.movie-container {
    display: flex;
    color: white;
    overflow: hidden;
    transition: 0.5s;
}

.movies-list-class {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
}

.back-icon {
    color: black;
    margin-top: 120px;
    margin: 60px;
    padding: 30px;
    background-color: aquamarine;
    border-radius: 33px;
    cursor: pointer;
}
.forward-icon {
    color: black;
    margin-top: 120px;
    margin: 60px;
    padding: 30px;
    background-color: aquamarine;
    border-radius: 33px;
    cursor: pointer;
}
.movie-ele {
    display: flex;
    flex-direction: row;
}